<div class="pager{{ if .Next }}{{ else }} pager_lean{{ end }}">
  <div class="pager_item prev">
    {{ with .NextInSection }}
      {{ partial "pagerlinkleft" . }}
    {{ else }}
      {{ if .IsPage}}
        {{ with .Parent }}
          {{ partial "pagerlinkleft" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

  <div class="pager_item next">
  {{ if .IsSection }}
    {{ range first 1 .Pages }}
      {{ partial "pagerlinkright" . }}
    {{ end }}
  {{ end }}
        
  {{ with .PrevInSection }}
    <div class="pager_item next">
      {{ partial "pagerlinkright" . }}
        </div>
      {{ end }}
    </div>
</div>
{{ partialCached "sprites" . }}